consent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Copyright (c) 2011+, HL7, Inc.
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without modification, 
  are permitted provided that the following conditions are met:
  
   * Redistributions of source code must retain the above copyright notice, this 
     list of conditions and the following disclaimer.
   * Redistributions in binary form must reproduce the above copyright notice, 
     this list of conditions and the following disclaimer in the documentation 
     and/or other materials provided with the distribution.
   * Neither the name of HL7 nor the names of its contributors may be used to 
     endorse or promote products derived from this software without specific 
     prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT 
  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
  PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
  POSSIBILITY OF SUCH DAMAGE.
  

  Generated on Thu, Jan 21, 2021 15:34+0000 for FHIR v4.0.1 

  Note: the schemas &amp; schematrons do not contain all of the rules about what makes resources
  valid. Implementers will still need to be familiar with the content of the specification and with
  any profiles that apply to the resources in order to make a conformant implementation.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="1.0">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="Consent" type="Consent">
    <xs:annotation>
      <xs:documentation xml:lang="en">Запись о выборе потребителя здравоохранения, которая разрешает или запрещает идентифицированному получателю(ам) или роли(ям) получателя выполнять одно или несколько действий в рамках заданного контекста политики для определенных целей и периодов времени.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Consent">
    <xs:annotation>
      <xs:documentation xml:lang="en">Запись о выборе потребителя здравоохранения, которая разрешает или запрещает идентифицированному получателю(ам) или роли(ям) получателя выполнять одно или несколько действий в рамках заданного контекста политики для определенных целей и периодов времени.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DomainResource">
        <xs:sequence>
          <xs:element name="identifier" minOccurs="0" maxOccurs="unbounded" type="Identifier">
            <xs:annotation>
              <xs:documentation xml:lang="en">Уникальный идентификатор этой копии заявления о согласии.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="status" minOccurs="1" maxOccurs="1" type="ConsentState">
            <xs:annotation>
              <xs:documentation xml:lang="en">Указывает текущее состояние этого согласия.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="scope" minOccurs="1" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Селектор типа предоставляемого согласия: ADR, Privacy, Treatment, Research. Этот список теперь расширяемый.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="category" minOccurs="1" maxOccurs="unbounded" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Классификация типов согласия в заявлении. Этот элемент поддерживает индексирование и извлечение заявлений о согласии.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="patient" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Пациент / потребитель медицинских услуг, на которого распространяется данное согласие.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="dateTime" minOccurs="0" maxOccurs="1" type="dateTime">
            <xs:annotation>
              <xs:documentation xml:lang="en">Когда это Согласие было выдано / создано / проиндексировано.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="performer" minOccurs="0" maxOccurs="unbounded" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Либо Правообладатель, который является лицом, ответственным за предоставление прав, перечисленных в Директиве о согласии, либо Грантополучатель, который является лицом, ответственным за соблюдение Директивы о согласии, включая любые обязательства или ограничения в отношении разрешений и соблюдения запретов.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="organization" minOccurs="0" maxOccurs="unbounded" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Организация, которая управляет согласием, и структура, в которой оно оформляется.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:choice minOccurs="0" maxOccurs="1" >
            <xs:annotation>
              <xs:documentation xml:lang="en">Источник, на котором основано это согласие. Источником может быть отсканированная оригинальная бумажная форма или ссылка на согласие, которая ссылается на такой источник, ссылка на репозиторий документов (например, XDS), в котором хранится исходный документ согласия.</xs:documentation>
            </xs:annotation>
            <xs:element name="sourceAttachment" type="Attachment"/>
            <xs:element name="sourceReference" type="Reference"/>
          </xs:choice>
          <xs:element name="policy" type="Consent.Policy" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Ссылки на политики, включенные в эту область согласия. Политика может быть организационной, но часто определяется юрисдикцией или законом.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="policyRule" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Ссылка на конкретное базовое вычислимое регулирование или политику.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="verification" type="Consent.Verification" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Была ли проверена инструкция по лечению (например, искусственное дыхание - да или нет) с пациентом, его / ее семьей или другим уполномоченным лицом.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="provision" type="Consent.Provision" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="en">Исключение из основной политики этого согласия. Исключением может быть добавление или удаление прав доступа.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Consent.Policy">
    <xs:annotation>
      <xs:documentation xml:lang="en">Запись о выборе потребителя здравоохранения, которая разрешает или запрещает идентифицированному получателю(ам) или роли(ям) получателя выполнять одно или несколько действий в рамках заданного контекста политики для определенных целей и периодов времени.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="authority" minOccurs="0" maxOccurs="1" type="uri">
            <xs:annotation>
              <xs:documentation xml:lang="en">Субъект или организация, обладающая регулирующей юрисдикцией или подотчетной за обеспечение соблюдения политик, относящихся к Директивам о согласии.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="uri" minOccurs="0" maxOccurs="1" type="uri">
            <xs:annotation>
              <xs:documentation xml:lang="en">Ссылки на политики, включенные в эту область согласия. Политика может быть организационной, но часто определяется юрисдикцией или законом.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Consent.Verification">
    <xs:annotation>
      <xs:documentation xml:lang="en">Запись о выборе потребителя здравоохранения, которая разрешает или запрещает идентифицированному получателю(ам) или роли(ям) получателя выполнять одно или несколько действий в рамках заданного контекста политики для определенных целей и периодов времени.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="verified" minOccurs="1" maxOccurs="1" type="boolean">
            <xs:annotation>
              <xs:documentation xml:lang="en">Была ли инструкция проверена.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="verifiedWith" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Кто проверил инструкцию (пациент, родственник или другое уполномоченное лицо).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="verificationDate" minOccurs="0" maxOccurs="1" type="dateTime">
            <xs:annotation>
              <xs:documentation xml:lang="en">Дата подтверждения согласия.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Consent.Provision">
    <xs:annotation>
      <xs:documentation xml:lang="en">Запись о выборе потребителя здравоохранения, которая разрешает или запрещает идентифицированному получателю(ам) или роли(ям) получателя выполнять одно или несколько действий в рамках заданного контекста политики для определенных целей и периодов времени.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="type" minOccurs="0" maxOccurs="1" type="ConsentProvisionType">
            <xs:annotation>
              <xs:documentation xml:lang="en">Действия, которые необходимо предпринять - разрешить или запретить - при выполнении условий правила. Не разрешено в корневом правиле, требуется во всех вложенных правилах.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="period" minOccurs="0" maxOccurs="1" type="Period">
            <xs:annotation>
              <xs:documentation xml:lang="en">Срок действия этого правила.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="actor" type="Consent.Actor" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Кто или что контролирует это правило. Используйте группу, чтобы идентифицировать набор участников по некоторому признаку, который они разделяют (например, 'admitting officers').</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="action" minOccurs="0" maxOccurs="unbounded" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Действия, контролируемые этим правилом.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="securityLabel" minOccurs="0" maxOccurs="unbounded" type="Coding">
            <xs:annotation>
              <xs:documentation xml:lang="en">Метка безопасности, состоящая из 0 .. * полей метки безопасности (тегов конфиденциальности), которые определяют, какие ресурсы контролируются этим исключением.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="purpose" minOccurs="0" maxOccurs="unbounded" type="Coding">
            <xs:annotation>
              <xs:documentation xml:lang="en">Контекст действий, которые выполняет пользователь - почему пользователь обращается к данным, - которые контролируются этим правилом.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="class" minOccurs="0" maxOccurs="unbounded" type="Coding">
            <xs:annotation>
              <xs:documentation xml:lang="en">Класс информации, на который распространяется это правило. Тип может быть типом ресурса FHIR, профилем типа, документом CDA или каким-либо другим типом, который указывает, к какому виду информации относится согласие.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="code" minOccurs="0" maxOccurs="unbounded" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Если этот код найден в экземпляре, то применяется правило.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="dataPeriod" minOccurs="0" maxOccurs="1" type="Period">
            <xs:annotation>
              <xs:documentation xml:lang="en">Клинически релевантный или рабочий период времени, ограничивающий данные, контролируемые этим правилом.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="data" type="Consent.Data" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Ресурсы, контролируемые этим правилом, если есть ссылки на определенные ресурсы.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="provision" type="Consent.Provision" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Правила, которые предоставляют исключения из основного правила или подправил.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Consent.Actor">
    <xs:annotation>
      <xs:documentation xml:lang="en">Запись о выборе потребителя здравоохранения, которая разрешает или запрещает идентифицированному получателю(ам) или роли(ям) получателя выполнять одно или несколько действий в рамках заданного контекста политики для определенных целей и периодов времени.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="role" minOccurs="1" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Каким образом данное лицо участвует в содержании ресурсов, описанном в исключении.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="reference" minOccurs="1" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Ресурс, идентифицирующий актера. Чтобы идентифицировать актеров по типу, используйте группу, чтобы идентифицировать набор актеров по некоторому общему свойству (например, 'admitting officers').</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Consent.Data">
    <xs:annotation>
      <xs:documentation xml:lang="en">Запись о выборе потребителя здравоохранения, которая разрешает или запрещает идентифицированному получателю(ам) или роли(ям) получателя выполнять одно или несколько действий в рамках заданного контекста политики для определенных целей и периодов времени.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="meaning" minOccurs="1" maxOccurs="1" type="ConsentDataMeaning">
            <xs:annotation>
              <xs:documentation xml:lang="en">Как интерпретируется ссылка на ресурс при тестировании ограничений согласия.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="reference" minOccurs="1" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Ссылка на конкретный ресурс, который определяет, на какие ресурсы распространяется это согласие.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ConsentProvisionType-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="deny">
        <xs:annotation>
          <xs:documentation xml:lang="en">Opt Out</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="permit">
        <xs:annotation>
          <xs:documentation xml:lang="en">Opt In</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ConsentProvisionType">
    <xs:annotation>
      <xs:documentation xml:lang="en">How a rule statement is applied, such as adding additional consent or removing consent.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="ConsentProvisionType-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ConsentDataMeaning-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="instance">
        <xs:annotation>
          <xs:documentation xml:lang="en">Instance</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="related">
        <xs:annotation>
          <xs:documentation xml:lang="en">Related</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dependents">
        <xs:annotation>
          <xs:documentation xml:lang="en">Dependents</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="authoredby">
        <xs:annotation>
          <xs:documentation xml:lang="en">AuthoredBy</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ConsentDataMeaning">
    <xs:annotation>
      <xs:documentation xml:lang="en">How a resource reference is interpreted when testing consent restrictions.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="ConsentDataMeaning-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ConsentState-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="draft">
        <xs:annotation>
          <xs:documentation xml:lang="en">Pending</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="proposed">
        <xs:annotation>
          <xs:documentation xml:lang="en">Proposed</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="active">
        <xs:annotation>
          <xs:documentation xml:lang="en">Active</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rejected">
        <xs:annotation>
          <xs:documentation xml:lang="en">Rejected</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="inactive">
        <xs:annotation>
          <xs:documentation xml:lang="en">Inactive</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="entered-in-error">
        <xs:annotation>
          <xs:documentation xml:lang="en">Entered in Error</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ConsentState">
    <xs:annotation>
      <xs:documentation xml:lang="en">Indicates the state of the consent.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="ConsentState-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
